{{ "custom-collection-list.css" | asset_url | stylesheet_tag }}


{% style %}
  .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

  @media (min-width: 750px) {
      .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{% endstyle %}

<div class="custom-collections-list padding-{{ section.id }}">
  <div class="page-width">
    <div class="custom-collections-list__section-header">
      <h2 class="h3 featured-products__heading">{{ section.settings.section_heading }}</h2>
      <a href="{{ section.settings.show_all_button_link}}" class="button button--simple-move">
        <span>{{ section.settings.show_all_text }}</span>
        <span>
          <svg class="icon" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.95978 5.90881L0 1.94899L1.13137 0.817627L6.22258 5.90881L1.13137 10.9999L0 9.86857L3.95978 5.90881Z" fill="currentColor"></path>
          </svg>
        </span>
      </a>
    </div>
    <div class="grid grid--2-col grid--4-col-desktop">
      {% for block in section.blocks %}
        <div class="grid__item">
            <div class="style-{{ block.id }}">
            <div class="custom-collections-list__image-container ">
            {% render 'responsive-picture',
              class: 'media media--square',
              desktopImage: block.settings.desktop_image,
              mobileImage: block.settings.mobile_image
            %}
          </div>
          <a href="{{ block.settings.collection_title_link }}" class="custom-collections-list__title">
            <span>{{ block.settings.collection_title }}</span>
          </a>
        </div>
        </div>

        <style>
          .style-{{ block.id }}:hover img{
            transform : scale(1.07);
          }
          {% comment %} .style-{{ block.id }}:hover a::after{
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            right: 0;
            content: "";
            width: 0;
            height: 0.1rem;
            background-color: #181818;
            transition: width 0.25s;
          } {% endcomment %}
        </style>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custome-collections-list",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Add Collections in Blocks"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Shop by Categories"
    },
    {
      "type": "text",
      "id": "show_all_text",
      "label": "Show All Text",
      "default": "See All"
    },
    {
      "type": "url",
      "id": "show_all_button_link",
      "label": "Show All Link"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "name": "Collection Block",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "text",
          "id": "collection_title",
          "label": "Collection Title",
          "default": "Collection Title"
        },
        {
          "type": "url",
          "id": "collection_title_link",
          "label": "Collection Title Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custome-collections-list"
    }
  ]
}
{% endschema %}